{% extends 'base.html' %}

{% block title %}About - T2D Project{% endblock %}

{% block content %}
    <h2>About Type 2 Diabetes (T2D) and This Project</h2>

    <p>
        Type 2 diabetes (T2D) is a complex, multifactorial disease that affects millions of people worldwide.
        While environmental factors play a significant role, genetic susceptibility also contributes to the development of T2D.
        Recent studies have shown that certain genetic variants are more prevalent in South Asian populations, suggesting a higher risk of developing T2D in this group.
    </p>

    <h3>About This Web Application</h3>
    <p>
        This web-based application aims to analyse and visualise genetic data related to T2D in South Asians.
        The application will leverage existing genomic databases and tools to provide researchers and clinicians with valuable insights into the genetic factors underlying this disease.
    </p>
{% endblock %}