{% extends 'base.html' %}

{% block title %}Population Information{% endblock %}

{% block content %}
    <div class="container">
        <h1>Population Information</h1>

        {% if population_info %}
            <ul>
                {% for population, info in population_info.items() %}
                    <li><strong>{{ population }}:</strong> {{ info }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No population information available.</p>
        {% endif %}
    </div>
{% endblock %}