{% extends 'routes.html' %}  

{% block title %}Gene Ontology (GO) - TCF7L2{% endblock %}

{% block content %}
    <h2><strong>TCF7L2 Transcription Factor 7 like 2</strong></h2>

    <div class="gene-info">
        <p><span class="label">Symbol:</span> TCF7L2</p>
        <p><span class="label">Full Name:</span> Transcription Factor 7 like 2</p>
        <p><span class="label">Organism:</span> <em>Homo sapiens</em></p>
        <p><span class="label">Ontology:</span> The gene encodes a transcription factor involved in the Wnt signaling pathway. The protein functions as a transcriptional regulator of the expression of genes involved in lipid and glucose metabolism. Blood glucose homeostasis has been linked to the protein, therefore, genetic variations are associated to a greater risk of developing Type 2 Diabetes (T2D).</p>
    </div>

{% endblock %}
